<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <style type="text/css">
        .divText {
            border: 3px solid #ccc;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            /*width: 300px;*/
            overflow: auto;
            resize: both;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script>
        document.charset = 'UTF-8';
        function openTextFile() {
            textClear();
            var input = document.createElement("input");
            input.type = "file";
            input.accept = "text/plain"; // 확장자가 xxx, yyy 일때, ".xxx, .yyy"
            input.onchange = function (event) {
                // processFile(event.target.files[0]);
                processFile2(event.target.files[0]);
                processFile1(event.target.files[0]);
            };
            input.click();

        }

        function processFile1(file) {
            var reader = new FileReader();
            reader.onload = function () {
                output.innerText = reader.result;


                console.log(reader.result);

            };
            reader.readAsText(file, /* optional */ "utf-8");

        }


        function processFile2(file) {
            var reader = new FileReader();
            reader.onload = function () {
                var dataToSend = reader.result; // reader.result 값을 변수에 저장

                console.log(dataToSend); // reader.result를 콘솔에 출력

                // 데이터를 JSON 문자열로 직렬화
                var jsonData = JSON.stringify({content:dataToSend});

                // AJAX 요청 보내기
                fetch('http://localhost:8080/read', {
                    method: 'POST', // 또는 다른 HTTP 메소드를 선택하세요
                    body: jsonData, // JSON 문자열을 요청 본문에 넣기
                    headers: {
                        'Content-Type': 'application/json', // JSON 데이터인 경우 Content-Type 설정
                    },
                })
                    .then(response => {
                        // 서버 응답 처리
                        if (response.ok) {
                            response.json().then(function (res) {
                                console.log(res);

                                var output2Div = document.getElementById("output2");
                                // 리스트 항목을 문자열로 결합하여 <div>의 innerText에 할당
                                output2Div.innerText = res.join(','); // 예: 항목 간에 쉼표로 구분
                            })
                            // 성공적으로 응답 받았을 때 수행할 동작
                            alert("암호화가 완료되었습니다. 미리보기와 파일 생성이 진행됩니다.")


                        } else {
                            // 오류 처리
                        }
                    })
                    .catch(error => {
                        // 네트워크 오류 처리
                    });
            };
            reader.readAsText(file, /* optional */ "utf-8");
        }


        function textClear() {
            var element1 = document.getElementById('output');
            var element2 = document.getElementById('output2');
            element1.innerText = '';
            element2.innerText = '';
        }

    </script>
</th:block>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Secure</title>
    <style>
        #content {
            min-height: calc(100vh - 10rem); /* footer 높이를 빼준다. */
        }
    </style>

</head>

<body>
<div id="content" layout:fragment="content">
    
    <button onclick='openTextFile()'>Open</button>
    <div name="text" class="divText" id='output'>파일을 선택 하시면 미리보기가 실행됩니다.</div>
    <div name="text2" class="divText" id='output2'>암호화 시 미리보기</div>

    
    <button onclick='textClear()'>취소</button>

</div>

</body>
</html>


<!DOCTYPE html>


</html>